/* Base CSS*/
img{
    max-width: 100%;
    height: auto;
}
figure{
    margin: 0;
}
figcaption{
    font-family: var(--font-text);
    font-size: var(--caption);
    text-align: center;
}

/*Texte sur image*/
.imagefond {
    display: inline-block;
    position: relative;
}
.imagefond .imagefondtxt {
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
    position: absolute;
    text-align: left;
    padding-top: var(--esp15);
    padding-bottom: var(--esp15);
    margin:auto;
    left: 0%;
    right: 40%;
    top: 40%;
    width: 50%;
}
.titre{
    margin-left: 10px;
    margin-right: 10px;
}

/*A Propos / Image de l'auteur sur le côté*/
.qui{
    display: flex;
    padding-right: 0;
}
.qui__img{
    max-width: 40%;
    max-height: 200px;
    align-self: center;
}
section.sectionqui{
    padding-right: 0;
}

/*Image animation légende JS*/
.legendediv {
	grid-column: 2;
	grid-row: 2;
	width: 350px;
	height: 200px;
	padding: 1px;
	overflow: hidden;
}
.imagelegende img{
	width: 100%;
	z-index: 1;
	position: relative;
}
.legende {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	line-height: 2em;
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	top: 0;
	display: none;
}	

/*Image disparraissant sur une autre*/
.superpose{
    background-image:url(media/images/Pollution.webp);
}
.dessus{
    width: 60%;
}
.dessous{
    margin-top: -150px;
}
