/*Header*/
.headermenu{
    display: flex;
    justify-content: space-between;
}
.headermenuleft__img{
    max-width: 75px;
    max-height: 75px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.headermenucenter__txt{
    margin-left: 20px;
    padding-left: 10px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 20px;
    color: var(--rouge);
    border-bottom: 1px solid black;
}
.headermenuright__button{
    max-width: 50%;
}

/*Liste des liens*/
.menunav__link{
    font-family: var(--font-text);
    font-size: var(--corps);
    font-weight: 700;
    margin-bottom: 20px;
}
.menunav__item{
    margin-bottom: 30px;
    border: 1px black solid;
    width: fit-content;
    padding: 2%;
}
.menunav__item::before{
    content: "";
}

/*Animation du menu*/
.menu{
    background-color: var(--blanc);
    overflow:hidden;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right : 0;
    transition: all .4s ease-in-out;
    z-index: 2;
    transform: translateX(100vw);
}

.menuopen .menu {
    transform: translateX(0);
}
.menuopen {
    overflow: hidden;
}